
/*----------------------------------------------- Render Cache ------------------------------------------------------ */
.render-cache-button {
    font-size: 12px;
    width: 150px;
    align-self: flex-start;
}

.render-cache-section-container {
    margin-top: 15px;
}
